@page
@model Veterinaria.App.Frontend.Pages.DetailPropietariosModel
@{
}

<h1>Detalle Propietario</h1>

<ul >
  <li class="list-group-item">Documento: @Model.propietario.documento</li>
  <li class="list-group-item">Nombre: @Model.propietario.nombre</li>
  <li class="list-group-item">Apellido: @Model.propietario.apellido</li>
  <li class="list-group-item">Dirección: @Model.propietario.direccion</li>
  <li class="list-group-item">Teléfono: @Model.propietario.telefono</li>
  <li class="list-group-item">Password: @Model.propietario.password</li>
  <li class="list-group-item">Género: @Model.propietario.genero</li>
  
</ul>